<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <head>
        <title>Weather Information</title>
        <link rel="stylesheet" th:href="@{/css/info.css}"/>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Weather Information for <span th:text="${forecast.getLocation()}"></span></h2>
            <div id="forecastData">
                <img id="weatherSymbol" th:src="@{${'images/' + forecast.getWeatherCode() + '.png'}}" height="130" width="130" alt="Image of the weather"/>
                Temperature: <span th:text="${forecast.getTemperature()}"></span>°C (feels like <span th:text="${forecast.getFeelsLike()}"></span>°C) <br/>
                Weather: <span th:text=${forecast.getWeather()}></span> <br/>
                Visibility: <span th:text="${forecast.getVisibility()}"></span> <br/>
                Wind speed: <span th:text="${forecast.getWindSpeed()}"></span>mph <span th:text="${forecast.getWindDirection()}"></span>
                with <span th:text="${forecast.getGustSpeed()}"></span>mph gusts <br/>
                Humidity: <span th:text="${forecast.getHumidity()}"></span>% <br/>
                Chance of precipitation: <span th:text="${forecast.getPrecipitationProbability()}"></span>% <br/>
                UV strength:  <span th:text="${forecast.getUv()}"></span>
            </div>
            <div>
                <img id="underlay" th:src="@{images/underlay.png}" height="500" width="500" alt="Map of the UK"/>
                <img id="overlay" th:src="@{images/overlay.png}" height="500" width="500" alt="Overlay rainfall"/>
            </div>
        </div>
    </body>
</html>